.menu-bar{
    background-color: #2e86de;
    height: 50px;
    align-items: center;
}
.title{
    font-size: 1.1em;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}
.btn-container{
    text-align: right;
}
.btn-add{
    background-color: #ff6b6b;
    font-weight: 700;
}